node_modules
*.js
!docs/jsdoc/templates/**/*.js
!docs/lib/**/*.js
*.map
dist/
.idea/
coverage/

# emacs backup files
*~
.DS_Store

.vscode/
tsconfig.tsbuildinfo
test-report.html
src/lang/Calc.interp
src/lang/Calc.tokens
src/lang/CalcLexer.interp
src/lang/CalcLexer.tokens
